:root {
    --font-primary: "Montserrat", sans-serif;
    --color-primary: #ed7200;
    --color-primary-2: #ffb809;
    --text-color: #23221f;
    --text-color-2: #fa7d09;
    --color-dp-primary: #ff8a00;
    --text-color-dp: #222222;
    --text-color-dp-hover: #fff;
}